DATABASE_URL=postgresql://user:password@localhost:5432/auth_app

PORT=3000

JWT_ACCESS_SECRET=your_access_secret_key_here_min_32_chars
JWT_REFRESH_SECRET=your_refresh_secret_key_here_min_32_chars

# Brevo Example 
SMTP_HOST=smtp-relay.brevo.com 
# 
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@example.com
